
.aside-statics {
  display: flex;
  justify-content: space-between;
  >div {
    width: 422px;
    height:294px;
    background:#2E4182;
    padding:20px;
    .p-title {
      font-size:14px;
      margin:0 0 50px 0;
    }
  }
}
.aside-left {
  width: 422px;
  height:294px;
  ul {
    li {
      margin:14px 0;
      cursor: pointer;
      img {
        margin:0px 3px -2px 0px;
      }
    }
  }
}
.aside-right {
  .two-pie {
    display:flex;
    align-items: center;
    &:last-child {
      margin-top:20px;
    }
    >ul {
      margin-left:15px;
      li {
        color:#8190B8;
        margin:8px 0;
        span {
          margin-right:40px;
        }
      }
    }
  }
}
.aside-bottom {
  background:#2E4182;
  padding:20px;
  .title {
    .p-title {
      font-size:14px;
      margin:0 0 50px 0;
    }
    button {
      width:62px;
      height:20px;
      font-size:10px;
      margin-left:15px;
      background:transparent;
      border:1px solid #52E5FB;
      border-radius:10px;
      color:#52E5FB;
      cursor: pointer;
      &.active {
        background:linear-gradient(to bottom, #54E8FF, #2A7D80);
        color:#fff;
        border:1px solid #2A7D80;
      }
    }
  }
  .bottom-text {
    ul {
      margin-top:44px;
      text-indent:30px;
      li {
        margin:16px 0;
        >img {
          margin:0 0 -3px 6px;
        }
      }
    }
  }
}