<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>瀚云智能运维管理平台</title>
  <link href="../assets/css/base.css" rel="stylesheet" />
  <link href="../assets/js/element-ui/index.css" rel="stylesheet" />
  <link href="../assets/css/style.css" rel="stylesheet" />
  <!-- <link href="../assets/css/theme/main-theme.css" rel="stylesheet" /> -->
  <link href="../assets/css/theme/light-theme.css" rel="stylesheet" />
  <link href="./index.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/font-awesome.css">
</head>

<body class="app">
  <div id="homeIndex" style="height: 100%;">
    <div class="loc-app-menu">
      <div class="loc-logo-form"><img src="../assets/images/logo.png" /></div>
      <div class="loc-menu-list">
        <div class="loc-menu-form com-hover" v-for="menu of menuList" :class="{active: menu.active}" @click="toRoute(menu)">
          <img class="loc-menu-default" :src="menu.img + '.png'" />
          <img class="loc-menu-active" :src="menu.img + '-active.png'" />
          <span class="loc-menu-name com-txt-overflow">{{ menu.name }}</span>
        </div>
      </div>
      <div class="loc-user-form">
        <div class="loc-alarm-form"><i class="fa fa-bell-o com-hover" style="color:#fff;"></i></div>
        <div class="loc-user">
          <img class="loc-user-icon" src="../assets/images/logo.png" />
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              {{ 'Ronin' }} <span class="menu-drop-img"></span>
            </span>
            <el-dropdown-menu slot="dropdown" class="home-drop">
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </div>
    <div class="loc-index-content">
      <div class="loc-left-menu" :class="{'loc-menu-hide': !showMenu}">
        <div class="loc-transform-left" @click="toggleShowMenu">
          <i class="el-icon-caret-left"></i>
          <i class="el-icon-caret-right"></i>
        </div>
        <div class="my-menu">
          <div class="my-menu-item" v-for="menu of leftMenuList.list" :class="{'is-open': leftMenuList.openMenu && (leftMenuList.openMenu === menu.id || leftMenuList.openMenu.indexOf(menu.id + '-') !== -1)}">
            <div class="my-menu-content" :class="{'is-active': leftMenuList.selectMenu && (leftMenuList.selectMenu === menu || leftMenuList.selectMenu.id.indexOf(menu.id + '-') !== -1)}"
              @click="selectedLeftMenu(menu)">
              <i class="loc-left-icon" :class="menu.iconClass"></i>
              <span>{{ menu.name }}</span>
              <i v-if="menu.children" class="loc-drop-icon el-icon-arrow-right"></i>
            </div>
            <div class="my-submenu-item">
              <div class="my-menu-item" v-for="subMenu of menu.children" :class="{'is-open': leftMenuList.openMenu && (leftMenuList.openMenu === subMenu.id || leftMenuList.openMenu.indexOf(subMenu.id + '-') !== -1)}">
                <div class="my-menu-content" :class="{'is-active': leftMenuList.selectMenu && (leftMenuList.selectMenu === subMenu || leftMenuList.selectMenu.id.indexOf(subMenu.id + '-') !== -1)}"
                  @click="selectedLeftMenu(subMenu)">
                  <i class="loc-left-icon"></i>
                  <span><i class="loc-left-subicon el-icon-caret-right" v-if="subMenu.children"></i>{{ subMenu.name }}</span>
                </div>
                <div class="my-submenu-item">
                  <div class="my-menu-item" v-for="mSubMenu of subMenu.children">
                    <div class="my-menu-content" :class="{'is-active': leftMenuList.selectMenu && (leftMenuList.selectMenu === mSubMenu || leftMenuList.selectMenu.id.indexOf(mSubMenu.id + '-') !== -1)}"
                      @click="selectedLeftMenu(mSubMenu)">
                      <i class="loc-left-icon"></i>
                      <span><i class="loc-left-subicon"></i>{{ mSubMenu.name }}</span>
                      <div class="my-menu-other" v-if="mSubMenu.num">
                        {{ mSubMenu.num }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="loc-right-content">
        <div class="loc-manage-content">
          <div class="loc-opera-group system-opera-group">
            <el-button type="primary" class="loc-btn icon-btn" @click="showDialog"><i class="fa fa-plus-circle"></i><span>添加</span></el-button>
            <el-button type="primary" class="loc-btn icon-btn"><i class="fa fa-trash"></i><span>删除</span></el-button>
          </div>
          <el-table :data="tableData" size="mini" class="transparent-table transparent-white-table" style="width: 100%">
            <el-table-column class-name="my-checkbox" type="selection" width="62px"></el-table-column>
            <el-table-column prop="sort" label="分类" min-width="286px"></el-table-column>
            <el-table-column prop="describe" label="描述" min-width="410px"></el-table-column>
            <el-table-column prop="num" label="图片数" min-width="250px"></el-table-column>
            <el-table-column label="操作" min-width="94px">
              <template slot-scope="scope">
                <span class="com-hover loc-table-color">编辑</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="loc-pagination">
            <div class="my-pagination-group">
              <div class="my-pagination-btn my-pagination-first com-hover">
                首页
              </div>
              <el-pagination :pager-count="5" layout="prev, pager, next" :total="1000">
              </el-pagination>
              <div class="my-pagination-btn my-pagination-last com-hover">
                尾页
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <el-dialog title="图库分类" :visible.sync="dialogVisible" width="1080px" :show-close="false" :before-close="handleClose"
      class="blue-dialog my-edit-dialog">
      <div>
        <div class="my-edit-group my-fill-line">
          <span class="my-group-title"><i class="required-icon">*</i>分类</span>
          <div class="my-group-content">
            <input type="text" @blur="onBlurInput($event, '')" placeholder="分类名称" />
          </div>
        </div>
        <div class="my-edit-group my-fill-line">
          <span class="my-group-title"><i class="required-icon">*</i>描述</span>
          <div class="my-group-content system-textarea">
            <textarea @blur="onBlurInput($event, '')" placeholder="分类描述"></textarea>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button class="dialog-btn cancel-btn" @click="dialogVisible = false">取消</el-button>
        <el-button class="dialog-btn submit-btn" type="primary" @click="submitDialog()">确认</el-button>
      </span>
    </el-dialog>
  </div>
</body>
<!-- <script src="../assets/js/lodash/lodash.js"></script> -->
<!-- <script src="../assets/js/echart/echarts.min.js"></script> -->
<script src="../assets/js/vue/vue.dev.js"></script>
<!-- <script src="../assets/js/echart/vue-echart.js"></script> -->
<script src="../assets/js/element-ui/index.js"></script>
<script src="./sort-manage/sort-manage.js"></script>

</html>