<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>华云集团-开发框架V1.8</title>
    <link href="../assets/css/base.css" rel="stylesheet" />
    <link href="../assets/js/element-ui/index.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="./index.css" rel="stylesheet" />
  </head>
  <body class="app">
    <div id="homeIndex">
      <div class="loc-app-menu">
        <div class="loc-logo-form"><img src="../assets/images/logo.png" /></div>
        <div class="loc-menu-list">
          <div
            class="loc-menu-form com-hover"
            v-for="menu of menuList"
            :class="{active: menu.active}"
          >
            <img class="loc-menu-default" :src="menu.img + '.png'" />
            <img class="loc-menu-active" :src="menu.img + '-active.png'" />
            <span class="loc-menu-name com-txt-overflow">{{ menu.name }}</span>
          </div>
        </div>
        <div class="loc-user-form">
          <div class="loc-alarm-form">
            <img src="../assets/images/icon/alarm.png"/>
          </div>
          <div class="loc-user">
            <img class="loc-user-icon" src="../assets/images/logo.png"/>
            <el-dropdown
              trigger="click"
              @command="changeHomeMenu($event, homeDataList[0])"
            >
              <span class="el-dropdown-link">
                {{'Ronin'}}<img src="../assets/images/icon/user-drop.png"/>
              </span>
              <el-dropdown-menu slot="dropdown" class="home-drop">
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </div>
      <div class="loc-line-form">
        <img
          @click="showDialog"
          src="../assets/images/menu/group.png"
          class="loc-group-btn com-hover"
        />
        <div
          class="loc-col-form"
          v-if="homeDataList[0].show"
          :style="homeDataList[0].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[0].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[0])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[0].menuList"
                    :key="menu"
                    v-if="homeDataList[0].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[0].noData" class="loc-fill-form">
            <v-chart
              :options="homeDataList[0].chart"
              :autoresize="true"
              v-if="homeDataList[0].menuType === '图表'"
            ></v-chart>
            <div class="loc-table" v-if="homeDataList[0].menuType === '列表'">
              <el-table
                :data="homeDataList[0].tableData"
                size="mini"
                class="transparent-table"
                style="width: 100%"
                height="240"
              >
                <el-table-column
                  v-for="col of homeDataList[0].tableCols"
                  :key="col.header"
                  :prop="col.field"
                  :label="col.header"
                  :min-width="col.width"
                ></el-table-column>
              </el-table>
            </div>
          </div>
          <p v-if="homeDataList[0].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[1].show"
          :style="homeDataList[1].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[1].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[1])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[1].menuList"
                    :key="menu"
                    v-if="homeDataList[1].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[1].noData" class="loc-fill-form">
            <v-chart
              :options="homeDataList[1].chart"
              :autoresize="true"
              v-if="homeDataList[1].menuType === '图表'"
            ></v-chart>
            <div class="loc-table" v-if="homeDataList[1].menuType === '列表'">
              <el-table
                :data="homeDataList[1].tableData"
                size="mini"
                class="transparent-table"
                style="width: 100%"
                height="240"
              >
                <el-table-column
                  v-for="col of homeDataList[1].tableCols"
                  :key="col.header"
                  :prop="col.field"
                  :label="col.header"
                  :min-width="col.width"
                ></el-table-column>
              </el-table>
            </div>
          </div>
          <p v-if="homeDataList[1].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[2].show"
          :style="homeDataList[2].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[2].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[2])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[2].menuList"
                    :key="menu"
                    v-if="homeDataList[2].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[2].noData" class="loc-fill-form">
            <v-chart
              :options="homeDataList[2].chart"
              :autoresize="true"
              v-if="homeDataList[2].menuType === '图表'"
            ></v-chart>
          </div>
          <p v-if="homeDataList[2].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[3].show"
          :style="homeDataList[3].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[3].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[3])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[3].menuList"
                    :key="menu"
                    v-if="homeDataList[3].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[3].noData" class="loc-fill-form">
            <div class="loc-table" v-if="homeDataList[3].menuType === '列表'">
              <el-table
                :data="homeDataList[3].tableData"
                size="mini"
                class="transparent-table gray-table"
                style="width: 100%"
                height="240"
              >
                <el-table-column
                  class-name="com-txt-center"
                  prop="level"
                  label="告警级别"
                  width="64px"
                >
                  <template slot-scope="scope">
                    <span
                      class="loc-icon-circle"
                      :class="'loc-icon-' + scope.row.level"
                    ></span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="name"
                  label="告警名称"
                  min-width="64px"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="original"
                  label="告警源"
                  min-width="64px"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="type"
                  label="资源类型"
                  min-width="64px"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="alarmType"
                  label="告警类型"
                  min-width="64px"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="status"
                  label="告警状态"
                  min-width="64px"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="date"
                  label="产生时间"
                  width="124px"
                ></el-table-column>
              </el-table>
            </div>
          </div>
          <p v-if="homeDataList[3].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[4].show"
          :style="homeDataList[4].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[4].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[4])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[4].menuList"
                    :key="menu"
                    v-if="homeDataList[4].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[4].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[4].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[5].show"
          :style="homeDataList[5].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[5].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[5])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[5].menuList"
                    :key="menu"
                    v-if="homeDataList[5].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[5].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[5].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[6].show"
          :style="homeDataList[6].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[6].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[6])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[6].menuList"
                    :key="menu"
                    v-if="homeDataList[6].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[6].noData" class="loc-fill-form">
            <v-chart
              :options="homeDataList[6].chart"
              :autoresize="true"
              v-if="homeDataList[6].menuType === '图表'"
            ></v-chart>
            <div class="loc-table" v-if="homeDataList[6].menuType === '列表'">
              <el-table
                :data="homeDataList[6].tableData"
                size="mini"
                class="transparent-table"
                style="width: 100%"
                height="240"
              >
                <el-table-column
                  prop="name"
                  label="资源名称"
                  min-width="90"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="type"
                  label="资源类型"
                  min-width="80"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="address"
                  label="IP地址"
                  min-width="118"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column prop="status1" label="通断状态" min-width="72">
                  <template slot-scope="scope">
                    <img
                      :src="
                      scope.row.status1 === 0
                          ? '../assets/images/icon/normal.png'
                          : '../assets/images/icon/warning.png'
                      "
                    /> </template
                ></el-table-column>
                <el-table-column prop="status2" label="通断状态" min-width="72"
                  ><template slot-scope="scope">
                    <img
                      :src="
                    scope.row.status2 === 0
                        ? '../assets/images/icon/normal.png'
                        : '../assets/images/icon/warning.png'
                    "
                    />
                  </template>
                </el-table-column>
                <el-table-column prop="accross" label="IP地址" min-width="171"
                  ><template slot-scope="scope">
                    <div style="padding-right: 24px;">
                      <el-progress
                        class="home-progress"
                        :text-inside="true"
                        :stroke-width="12"
                        :percentage="scope.row.accross"
                        :status="scope.row.accross < 70 ? 'success':'exception'"
                      ></el-progress>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
          <p v-if="homeDataList[6].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[7].show"
          :style="homeDataList[7].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[7].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[7])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[7].menuList"
                    :key="menu"
                    v-if="homeDataList[7].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[7].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[7].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[8].show"
          :style="homeDataList[8].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[8].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[8])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[8].menuList"
                    :key="menu"
                    v-if="homeDataList[8].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[8].noData" class="loc-fill-form">
            <v-chart
              :options="homeDataList[8].chart"
              :autoresize="true"
              v-if="homeDataList[8].menuType === '图表'"
            ></v-chart>
            <div class="loc-table" v-if="homeDataList[8].menuType === '列表'">
              <el-table
                :data="homeDataList[8].tableData"
                size="mini"
                class="transparent-table"
                style="width: 100%"
                height="240"
              >
                <el-table-column
                  prop="name"
                  label="资源名称"
                  min-width="90"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="type"
                  label="资源类型"
                  min-width="80"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column
                  prop="address"
                  label="IP地址"
                  min-width="118"
                  class-name="com-txt-overflow"
                ></el-table-column>
                <el-table-column prop="status1" label="通断状态" min-width="72">
                  <template slot-scope="scope">
                    <img
                      :src="
                      scope.row.status1 === 0
                          ? '../assets/images/icon/normal.png'
                          : '../assets/images/icon/warning.png'
                      "
                    /> </template
                ></el-table-column>
                <el-table-column prop="status2" label="通断状态" min-width="72"
                  ><template slot-scope="scope">
                    <img
                      :src="
                    scope.row.status2 === 0
                        ? '../assets/images/icon/normal.png'
                        : '../assets/images/icon/warning.png'
                    "
                    />
                  </template>
                </el-table-column>
                <el-table-column prop="accross" label="IP地址" min-width="171"
                  ><template slot-scope="scope">
                    <div style="padding-right: 24px;">
                      <el-progress
                        class="home-progress"
                        :text-inside="true"
                        :stroke-width="12"
                        :percentage="scope.row.accross"
                        :status="scope.row.accross < 70 ? 'success':'exception'"
                      ></el-progress>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
          <p v-if="homeDataList[8].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[9].show"
          :style="homeDataList[9].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[9].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[9])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[9].menuList"
                    :key="menu"
                    v-if="homeDataList[9].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[9].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[9].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[10].show"
          :style="homeDataList[10].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[10].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[10])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[10].menuList"
                    :key="menu"
                    v-if="homeDataList[10].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[10].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[10].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[11].show"
          :style="homeDataList[11].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[11].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[11])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[11].menuList"
                    :key="menu"
                    v-if="homeDataList[11].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[11].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[11].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[12].show"
          :style="homeDataList[12].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[12].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[12])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[12].menuList"
                    :key="menu"
                    v-if="homeDataList[12].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[12].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[12].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[13].show"
          :style="homeDataList[13].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[13].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[13])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[13].menuList"
                    :key="menu"
                    v-if="homeDataList[13].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[13].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[13].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[14].show"
          :style="homeDataList[14].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[14].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[14])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[14].menuList"
                    :key="menu"
                    v-if="homeDataList[14].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[14].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[14].noData" class="loc-no-data">暂无数据</p>
        </div>
        <div
          class="loc-col-form"
          v-if="homeDataList[15].show"
          :style="homeDataList[15].style"
        >
          <div class="loc-div-menu">
            <span class="loc-menu-name">{{ homeDataList[15].name }}</span>
            <div class="loc-menu-btn">
              <el-dropdown
                trigger="click"
                @command="changeHomeMenu($event, homeDataList[15])"
              >
                <span class="el-dropdown-link">
                  <img src="../assets/images/icon/menu-list.png" />
                </span>
                <el-dropdown-menu slot="dropdown" class="home-drop">
                  <el-dropdown-item
                    :command="menu"
                    v-for="menu of homeDataList[15].menuList"
                    :key="menu"
                    v-if="homeDataList[15].menuType !== menu"
                    >{{ menu }}</el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div v-if="!homeDataList[15].noData" class="loc-fill-form"></div>
          <p v-if="homeDataList[15].noData" class="loc-no-data">暂无数据</p>
        </div>
      </div>
      <el-dialog
        title="首页配置"
        :visible.sync="dialogVisible"
        width="1080px"
        :show-close="false"
        :before-close="handleClose"
        class="blue-dialog"
      >
        <div class="home-content-form">
          <div
            class="loc-form loc-left"
            ondrop="app.leftDrop(event, 1)"
            ondragover="app.leftDrop(event, 0)"
          >
            <p class="loc-form-title">未展示模块</p>
            <div class="loc-drag-form">
              <div
                draggable="true"
                :ondragstart="'app.dragStart(event,' + homeData.id + ')'"
                class="loc-drag-bar"
                v-for="homeData of newHomeDataList"
                v-if="!homeData.show"
              >
                {{ homeData.name }}
              </div>
            </div>
          </div>
          <div
            class="loc-form loc-right"
            ondrop="app.leftDrop(event, 2)"
            ondragover="app.leftDrop(event, 0)"
          >
            <p class="loc-form-title">已展示模块</p>
            <div class="loc-drag-form">
              <div
                draggable="true"
                :ondragstart="'app.dragStart(event,' + homeData.id + ')'"
                class="loc-drag-bar"
                v-for="homeData of newHomeDataList"
                v-if="homeData.show"
              >
                {{ homeData.name }}
              </div>
            </div>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button
            class="dialog-btn cancel-btn"
            @click="dialogVisible = false"
            >取消</el-button
          >
          <el-button
            class="dialog-btn submit-btn"
            type="primary"
            @click="submitDialog()"
            >确认</el-button
          >
        </span>
      </el-dialog>
    </div>
  </body>
  <script src="../assets/js/lodash/lodash.js"></script>
  <script src="../assets/js/echart/echarts.min.js"></script>
  <script src="../assets/js/vue/vue.dev.js"></script>
  <script src="../assets/js/vue/vue-router.js"></script>
  <script src="../assets/js/echart/vue-echart.js"></script>
  <script src="../assets/js/element-ui/index.js"></script>
  <script src="./index.js"></script>
</html>
