
.resource-dialog {
  padding: 5px 0; 
}
.oper-search-form {
  margin-bottom: 20px;
}

.port-table {
  &.el-table {
    .cell {
      padding: 0 0 0 16px;
    }
  }
}

.opera-group-content {
  padding-left: 8px;
  .img-form {
    line-height: 28px;
    img {
      vertical-align: middle;
    }
  }
}