<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>瀚云智能运维管理平台</title>
  <link href="../../../assets/css/base.css" rel="stylesheet" />
  <link href="../../../assets/js/element-ui/index.css" rel="stylesheet" />
  <link href="../../../assets/css/theme/main-theme.css" rel="stylesheet" />
  <link href="../../../assets/css/style.css" rel="stylesheet" />
  <!-- <link href="../../../assets/css/theme/light-theme.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="./../../common-business.css">
  <link href="./resource-overview/web-service.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../assets/css/font-awesome.css">
</head>

<body class="app">
  <div id="homeIndex">
    <div class="top-tab-toggle">
      <span v-for="(tab, index) in tab_array" :key="index" @click="toggleTab(tab)" :class="{active: tab.active}">{{tab.label}}</span>
    </div>
    <el-row>
      <el-col :span="24">
        <div v-if="init_page.show_disk">
          <div class="grid-content bg-purple">
            <el-table :data="disk_tableData" :key="5" size="mini" class="transparent-table transparent-white-table"
              style="width: 100%">
              <el-table-column prop="name" sortable label="磁盘名称" class-name="com-txt-overflow">
                <template slot-scope="scope">
                  <span @click="showPage_disk(scope.row);" style="color:#97C1FF;cursor:pointer;">{{scope.row.name}}</span>
                </template>
              </el-table-column>
              <el-table-column prop="type" sortable label="服务类型" class-name="com-txt-overflow"></el-table-column>
              <el-table-column prop="using" sortable label="使用率" class-name="com-txt-overflow"></el-table-column>
              <el-table-column prop="total" sortable label="磁盘总大小" class-name="com-txt-overflow"></el-table-column>
              <el-table-column prop="used" sortable label="已经使用" class-name="com-txt-overflow"></el-table-column>
              <el-table-column prop="usable" sortable label="可用空间" class-name="com-txt-overflow"></el-table-column>
            </el-table>
            <div class="loc-pagination">
              <div class="my-pagination-group">
                <div class="my-pagination-btn my-pagination-first com-hover">
                  首页
                </div>
                <el-pagination :pager-count="5" layout="prev, pager, next" :total="1000">
                </el-pagination>
                <div class="my-pagination-btn my-pagination-last com-hover">
                  尾页
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="grid-content bg-purple">
            <el-row style="margin-top:0;">
              <el-col :span="5">
                端口名称 : {{business_data.label}}
              </el-col>
              <el-col :span="5">
                端口描述 : Tomcat的
              </el-col>
              <el-col :span="5">
                端口别名 : {{business_data.label}}
              </el-col>
              <el-col :span="4">
                端口类型 : {{business_data.mttr}}
              </el-col>
              <el-col :span="5">
                MAC地址 : {{business_data.mttr}}
              </el-col>
            </el-row>
            <el-row style="margin-top:10px;">
              <el-col :span="5">
                端口索引 :8
              </el-col>
              <el-col :span="5">
                物理端口 :
                <el-checkbox></el-checkbox>
              </el-col>
              <el-col :span="5">
                以太网端口 : <el-checkbox></el-checkbox>
              </el-col>
              <el-col :span="4">
                聚合端口号 :56MB
              </el-col>
              <el-col :span="5">
                管理状态 :
                <i class="fa fa-check-circle" v-if="business_data.status === '1'" style="color:#69F0AE;"></i>
                <i class="fa fa-exclamation-circle" v-if="business_data.status === '2'" style="color:#FF9E54;"></i>
                <i class="fa fa-times-circle" v-if="business_data.status === '0'" style="color:#f00;"></i>
                <!-- <img v-if="business_data.status === '1'" src="../../../assets/images/icon/normal.png" />
                <img v-if="business_data.status === '2'" src="../../../assets/images/icon/warning.png" />
                <img v-if="business_data.status === '0'" src="../../../assets/images/icon/error.png" /> -->
              </el-col>
            </el-row>
            <el-row style="margin-top:10px;">
              <el-col :span="5">
                进带宽 :56MB
              </el-col>
              <el-col :span="5">
                出带宽 : 工商局的
              </el-col>
              <el-col :span="5">
                运行状态 :
                <i class="fa fa-check-circle" v-if="business_data.status === '1'" style="color:#69F0AE;"></i>
                <i class="fa fa-exclamation-circle" v-if="business_data.status === '2'" style="color:#FF9E54;"></i>
                <i class="fa fa-times-circle" v-if="business_data.status === '0'" style="color:#f00;"></i>
                <!-- <img v-if="business_data.status === '1'" src="../../../assets/images/icon/normal.png" />
                <img v-if="business_data.status === '2'" src="../../../assets/images/icon/warning.png" />
                <img v-if="business_data.status === '0'" src="../../../assets/images/icon/error.png" /> -->
              </el-col>
              <el-col :span="4">
                进流量 :56MB
              </el-col>
              <el-col :span="5">
                出流量 :56MB
              </el-col>
            </el-row>
          </div>
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple" style="height:576px;">
                <input placeholder="搜索" suffix-icon="el-icon-search" class="loc-input" />
                <ul class="left-list-right-echart">
                  <li v-for="cpu in disk_tableData">{{cpu.name}}</li>
                </ul>
              </div>
            </el-col>
            <el-col :span="18">
              <div class="grid-content bg-purple" style="height:576px;">
                <div class="top-tab-toggle">
                  <span v-for="tab in echart_toggle" @click="toggleEcharts(tab)" :class="{active: tab.label == cpuData.echart_title}">{{tab.label}}</span>
                </div>
                <div class="time-toggle" style="float: right;margin-bottom: 20px;">
                  <span v-for="time in time_array" @click="toggleTime(time.name)" :class="{active: cpuData.isActice === time.name}">{{time.name}}</span>
                </div>

                <v-chart v-if="cpuData.echart_title==='使用率'" :autoresize="true" style="width:100%; height:450px" :options="multiple_pie.line"></v-chart>
                <v-chart v-if="cpuData.echart_title==='使用情况'" :autoresize="true" style="width:100%; height:450px" :options="multiple_pie.line2"></v-chart>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-col>
    </el-row>
    <div class="toggle-page">
      <span v-for="(page, index) in page_array" :key="index" @click="togglePage(page)" :class="{active: page.active}">{{page.label}}</span>
    </div>

    <el-dialog title="自定义时间段" :visible.sync="editTimeDialog" width="400px" class="blue-dialog">
      <div style="margin-bottom:15px;">
        <span>开始时间</span>
        <el-date-picker v-model="time.value1" type="datetime" size="mini" placeholder="选择日期时间"></el-date-picker>
      </div>
      <div>
        <span>结束时间</span>
        <el-date-picker v-model="time.value2" type="datetime" size="mini" placeholder="选择日期时间"></el-date-picker>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button class="dialog-btn cancel-btn" @click="editTimeDialog = false" size="small">取 消</el-button>
        <el-button class="dialog-btn submit-btn" type="primary" size="small">确 认</el-button>
      </span>
    </el-dialog>
  </div>
</body>
<script src="../../../assets/js/vue/vue.dev.js"></script>
<script src="../../../assets/js/echart/echarts.new.js"></script>
<script src="../../../assets/js/vue/vue-router.js"></script>
<script src="../../../assets/js/echart/vue-echart.js"></script>
<script src="../../../assets/js/element-ui/index.js"></script>
<script src="./disk/disk.js"></script>

</html>