.loc-index-content {
  .patrol-top-content {
    margin-bottom: 10px;
    padding-top: 16px;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    .patrol-btn-form {
      margin-left: 26px;
    }
    .loc-query-form {
      margin-right: 12px;
      display: inline-block;
      font-size: 12px;
      .loc-query-name {
        margin-right: 6px;
        display: inline-block;
        min-width: 68px;
        text-align: right;
      }
      .patrol-content {
        width: 140px;
      }
    }
    + .loc-manage-content {
      height: calc(100% - 70px);
    }
  }
}

.patrol-dialog {
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  .patrol-data-top {
    margin: 8px 0 20px;
    display: flex;
    justify-content: space-around;
  }
}

