<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>瀚云智能运维管理平台</title>
  <link href="../../../assets/css/base.css" rel="stylesheet" />
  <link href="../../../assets/js/element-ui/index.css" rel="stylesheet" />
  <link href="../../../assets/css/theme/main-theme.css" rel="stylesheet" />
  <link href="../../../assets/css/style.css" rel="stylesheet" />
  <!-- <link href="../../../assets/css/theme/light-theme.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="./../../common-business.css">
  <link href="./resource-overview/web-service.css" rel="stylesheet" />
</head>

<body class="app">
  <div id="homeIndex">
    <div class="top-tab-toggle">
      <span v-for="(tab, index) in tab_array" :key="index" @click="toggleTab(tab)" :class="{active: tab.active}">{{tab.label}}</span>
    </div>

    <!-- <div class="overview-header">
      <div>
        <span>
          资源名称 : {{business_data.label}}
        </span>
        <span>
          资源类型 : Tomcat的
        </span>
        <span>
          资源类型 : {{business_data.label}}
        </span>
        <span>
          监控周期 : {{business_data.mttr}}
        </span>
      </div>
      <div>
        <span>
          管理状态 :
          <img v-if="business_data.safety_level === '1'" src="../../../assets/images/icon/normal.png" />
          <img v-if="business_data.safety_level === '2'" src="../../../assets/images/icon/warning.png" />
          <img v-if="business_data.safety_level === '0'" src="../../../assets/images/icon/error.png" />
        </span>
        <span>
          通断状态 :
          <img v-if="business_data.safety_level === '1'" src="../../../assets/images/icon/normal.png" />
          <img v-if="business_data.safety_level === '2'" src="../../../assets/images/icon/warning.png" />
          <img v-if="business_data.safety_level === '0'" src="../../../assets/images/icon/error.png" />
        </span>
        <span>
          所属域 : {{business_data.label}}
        </span>
        <span>
          最后采集时间 : {{business_data.mttr}}
        </span>
      </div>
    </div> -->
    <!-- <el-row :gutter="20">
      <el-col :span="8">
        <div class="grid-content bg-purple" style="height:285px;">
          <p class="p-title" style="margin-bottom:20px;">CPU使用率</p>
          <v-chart style="width:100%; height:200px" :options="multiple_pie.gauge"></v-chart>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple" style="height:285px;">
          <p class="p-title" style="margin-bottom:20px;">内存使用率</p>
          <v-chart style="width:100%; height:200px" :options="multiple_pie.gauge"></v-chart>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple" style="height:285px;">
          <p class="p-title" style="margin-bottom:20px;">指示信息</p>
          <div style="height:211px; overflow:auto;">
            <table class="left-right-table" border="1" width="100%">
              <tr>
                <td>健康状态</td>
                <td>
                  <img v-if="signal_info.baseInfo.status === '1'" src="../../../assets/images/icon/normal.png" />
                  <img v-if="signal_info.baseInfo.status === '2'" src="../../../assets/images/icon/warning.png" />
                  <img v-if="signal_info.baseInfo.status === '0'" src="../../../assets/images/icon/error.png" />
                </td>
              </tr>
              <tr>
                <td>响应时长</td>
                <td>70毫秒</td>
              </tr>
              <tr>
                <td>主机名</td>
                <td>iZ23pp5i4djZ</td>
              </tr>
              <tr>
                <td>版本</td>
                <td>CentOS release 6.5 (Final)</td>
              </tr>
              <tr>
                <td>持续运行</td>
                <td>{{signal_info.baseInfo.main_name}}</td>
              </tr>
              <tr>
                <td>内部版本</td>
                <td>2.6.32-573.22.1.el6.i686</td>
              </tr>
              <tr>
                <td>系统时间</td>
                <td>2019-02-21 15:31:18</td>
              </tr>
              <tr>
                <td>用户CPU使用情况</td>
                <td>0.30%</td>
              </tr>
              <tr>
                <td>系统CPU使用情况 </td>
                <td>0.31</td>
              </tr>
              <tr>
                <td>1分钟平均负载</td>
                <td>2019-02-21 15:31:18</td>
              </tr>
              <tr>
                <td>5分钟平均负载 </td>
                <td>2019-02-21 15:31:18</td>
              </tr>
              <tr>
                <td>15分钟平均负载 </td>
                <td>2019-02-21 15:31:18</td>
              </tr>
              <tr>
                <td>Pages si</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Pages so</td>
                <td>0</td>
              </tr>
              <tr>
                <td>打开文件数</td>
                <td>0</td>
              </tr>
              <tr>
                <td>当前用户数</td>
                <td>0</td>
              </tr>
              <tr>
                <td>进程数</td>
                <td>0</td>
              </tr>
              <tr>
                <td>僵死进程数</td>
                <td>0</td>
              </tr>
              <tr>
                <td>僵死进程信息</td>
                <td>0</td>
              </tr>
              <tr>
                <td>hosts</td>
                <td>127.0.0.1 localhost ::1 localhost local</td>
              </tr>
            </table>
          </div>
        </div>
      </el-col>
    </el-row> -->
    <!-- <el-row :gutter="20">
      <el-col :span="8">
        <div class="grid-content bg-purple" style="height:285px">
          <div style="margin-bottom:20px;">
            <el-select v-model="value" popper-class="loc-main-selectbox" size="mini" style="width: 150px;" class="loc-main-select"
              placeholder="请选择">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
            <div class="time-toggle" style="float: right;">
              <span v-for="time in time_array" @click="toggleTime(time.name)" :class="{active: isActice === time.name}">{{time.name}}</span>
            </div>
          </div>
          <v-chart style="width:100%; height:200px" :options="multiple_pie.line"></v-chart>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple" style="height:285px">
          <p class="p-title" style="margin-bottom:20px;">内存</p>
          <div style="height:211px; overflow:auto;">
            <div class="left-img-right-text" v-for="(item, index) in database_array" :key="index" @click="goToDisk(item);">
              <div>
                <img style="margin-top:25%;" :src="item.imgUrl" />
              </div>
              <ul>
                <li>{{item.label}}</li>
                <li>总内存 : {{item.count}} | 已使用 {{item.size}}</li>
                <li>使用率 : {{item.count}}%</li>
                <li>
                  <el-progress :percentage="item.count" :show-text="false" color="#FFC555"></el-progress>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple" style="height:285px">
          <p class="p-title" style="margin-bottom:20px;">硬盘</p>
          <div style="height:211px; overflow:auto;">
            <div class="left-img-right-text" v-for="(item, index) in storage_array" :key="index">
              <div>
                <img style="margin-top:25%;" :src="item.imgUrl" />
              </div>
              <ul>
                <li>{{item.label}}</li>
                <li>总内存 : {{item.count}} | 已使用 {{item.size}}</li>
                <li>使用率 : {{item.count}}%</li>
                <li>
                  <el-progress :percentage="item.count" :show-text="false" color="#FFC555"></el-progress>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </el-col>
    </el-row> -->

    <!-- <div class="toggle-page">
      <span v-for="(page, index) in page_array" :key="index" @click="togglePage(page)" :class="{active: page.active}">{{page.label}}</span>
    </div> -->

    <!-- <el-dialog title="自定义时间段" :visible.sync="editTimeDialog" width="400px" class="blue-dialog">
      <div style="margin-bottom:15px;">
        <span>开始时间</span>
        <el-date-picker v-model="time.value1" type="datetime" size="mini" placeholder="选择日期时间"></el-date-picker>
      </div>
      <div>
        <span>结束时间</span>
        <el-date-picker v-model="time.value2" type="datetime" size="mini" placeholder="选择日期时间"></el-date-picker>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button class="dialog-btn cancel-btn" @click="editTimeDialog = false" size="small">取 消</el-button>
        <el-button class="dialog-btn submit-btn" type="primary" size="small">确 认</el-button>
      </span>
    </el-dialog> -->

  </div>
</body>
<script src="../../../assets/js/vue/vue.dev.js"></script>
<script src="../../../assets/js/echart/echarts.new.js"></script>
<script src="../../../assets/js/echart/vue-echart.js"></script>
<script src="../../../assets/js/element-ui/index.js"></script>
<script src="./resource-overview/resource-overview.js"></script>

</html>