* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  color: #fff;
}
.loc-app-menu {
  background: rgba(0, 0, 0, 0.45);
}
.loc-app-menu .loc-user-form .loc-alarm-form {
  border-left: 1px solid rgba(16, 31, 69, 0.1);
  border-right: 1px solid rgba(16, 31, 69, 0.1);
}
.loc-app-menu .loc-user-form .loc-alarm-form .loc-alarm-img {
  background: url('../../images/icon/alarm.png') no-repeat center center;
}
.loc-app-menu .loc-user-form .el-dropdown-link {
  color: #8190b8;
}
.loc-app-menu .loc-user-form .el-dropdown-link .menu-drop-img {
  background: url('../../images/icon/user-drop.png') no-repeat center center;
}
.loc-app-menu .loc-menu-form:hover,
.loc-app-menu .loc-menu-form.active {
  background: rgba(16, 16, 16, 0.2);
}
.loc-app-menu .loc-menu-form.active {
  color: #66cdff;
}
.loc-app-menu .loc-menu-form.active .loc-menu-default {
  display: none;
}
.loc-app-menu .loc-menu-form.active .loc-menu-active {
  display: inline-block;
}
.loc-app-menu .loc-menu-form .loc-menu-active {
  display: none;
}
#homeIndex {
  color: #fff;
  min-height: 100%;
  background: linear-gradient(334deg, #4247ba, #4364bd);
}
.el-menu-vertical-demo .el-submenu__title,
.el-menu-vertical-demo .el-menu-item {
  color: #fff;
}
.el-menu-vertical-demo .el-submenu__title:hover,
.el-menu-vertical-demo .el-menu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.el-menu-vertical-demo .is-opened .el-submenu__title {
  background: rgba(0, 0, 0, 0.1);
}
.el-menu-vertical-demo .is-active:not(.is-opened) {
  background: rgba(0, 0, 0, 0.1);
}
.el-menu-vertical-demo .menu-icon4-1 {
  background: url(../../images/menu/menu-4-1.png) center center no-repeat;
}
.el-menu-vertical-demo .menu-icon4-2 {
  background: url(../../images/menu/menu-4-2.png) center center no-repeat;
}
.el-menu-vertical-demo .menu-icon4-3 {
  background: url(../../images/menu/menu-4-3.png) center center no-repeat;
}
.el-menu-vertical-demo .menu-icon4-4 {
  background: url(../../images/menu/menu-4-4.png) center center no-repeat;
}
.el-menu-vertical-demo .menu-icon4-5 {
  background: url(../../images/menu/menu-4-5.png) center center no-repeat;
}
