* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
body {
    color: #fff;
}

.loc-home-img {
  background-image: linear-gradient(-270deg, 
		#ff9e54 0%, 
		#e3c62d 100%);
}
.loc-opera-img {
  background: url(../../images/icon/opera.png) center center no-repeat;
}
.loc-write-img {
  background: url(../../images/icon/table-icon-1.png) center center no-repeat;
}
.loc-del-img {
  background: url(../../images/icon/table-icon-2.png) center center no-repeat;
}
.loc-app-img {
  background: url(../../images/icon/table-icon-3.png) center center no-repeat;
}
.loc-xml-img {
  background: url(../../images/icon/table-icon-4.png) center center no-repeat;
}
.loc-file-img {
  background: url(../../images/icon/table-icon-5.png) center center no-repeat;
}
.loc-fly-img {
  background: url(../../images/icon/table-icon-6.png) center center no-repeat;
}
.loc-right-img {
  background: url(../../images/icon/table-icon-7.png) center center no-repeat;
}
.loc-pie-img {
  background: url(../../images/icon/icon-pie.png) center center no-repeat;
}
.loc-line-img {
  background: url(../../images/icon/icon-line.png) center center no-repeat;
}

.loc-txt-red {
  color: #ff5c54;
}
.loc-txt-orange {
  color: #ff9e54;
}
.loc-txt-yellow {
  color: #fff954;
}
.loc-txt-blue {
  color: #1cefef;
}

.loc-icon-red {
  background: #ff5c54;
}
.loc-icon-orange {
  background: #ff9e54;
}
.loc-icon-yellow {
  background: #fff954;
}
.loc-icon-blue {
  background: #1cefef;
}

// 输入框
.el-input__inner,
.loc-input {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

// 下拉框样式
.loc-main-select {
  .el-input__inner:focus,
  .el-input.is-focus .el-input__inner {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}

// checkbox样式
.my-checkbox {
  .el-checkbox__inner:hover {
    border-color: #5074ff;
  }
  .cell {
    .el-checkbox__input {
      &.is-indeterminate,
      &.is-checked {
        .el-checkbox__inner {
          background-color: #5074ff;
          border-color: #5074ff;
        }
      }
    }
  }
}

// 下拉框内容样式
.loc-main-selectbox {
  background: #abb4cd;
  .el-select-dropdown__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &.selected,
    &.hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

// 页面头部菜单
.loc-app-menu {
  background: rgba(0, 0, 0, 0.45);
  .loc-user-form {
    .loc-alarm-form {
      border-left: 1px solid rgba(16, 31, 69, 0.1);
      border-right: 1px solid rgba(16, 31, 69, 0.1);
      .loc-alarm-img {
        background: url('../../images/icon/alarm.png') no-repeat center center;
      }
    }
    .el-dropdown-link {
      color: #8190b8;
      .menu-drop-img {
        background: url('../../images/icon/user-drop.png') no-repeat center center;
      }
    }
  }
  .loc-menu-form {
    &:hover,
    &.active {
      background: rgba(16, 16, 16, 0.2);
    }
    &.active {
      color: #66cdff;
      .loc-menu-default {
        display: none;
      }
      .loc-menu-active {
        display: inline-block;
      }
    }
    .loc-menu-active {
      display: none;
    }
  }
}

#homeIndex {
  color: #fff;
  min-height: 100%;
  background: linear-gradient(334deg, #4247ba, #4364bd);
}

.el-menu-vertical-demo {
  .el-submenu__title,
  .el-menu-item {
    color: #fff;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .is-opened {
    .el-submenu__title {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .is-active:not(.is-opened) {
    background: rgba(0, 0, 0, 0.1);
  }
}

// 表格醒目内容颜色
.loc-table-color {
  color: #97c1ff;
}

.transparent-table {
  &.el-table {
    tr {
      &:nth-child(even) {
        // &:hover td,
        td {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
    th {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &.gray-table {
    color: rgba(255, 255, 255, 0.6); 
    th {
      background: transparent;
    }
    tr {
      &:nth-child(even) {
        &:hover td,
        td {
          background: transparent;
        }
      }
      &:nth-child(odd) {
        &:hover td,
        td {
          background: transparent;
        }
      }
      td {
        border-top: 1px solid #8190b8;
      }
    }
  }
}

.transparent-white-table {
  &.el-table tr:nth-child(even) {
    // &:hover td,
    td {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

// 分页
.my-pagination-group {
  .el-pager {
    li {
      &:not(.disabled).active {
        background: rgba(151, 156, 255, 0.6);
      }
    }
  }
}

.loc-no-data {
  color: #8190b8;
}

.blue-dialog {
  .el-dialog {
    background: #3c54b1;
  }
  .el-dialog__header {
    background: rgba(0, 0, 0, 0.1);
    .el-dialog__close {
      color: #fff;
    }
  }
  .dialog-btn {
    &.cancel-btn {
      color: #3760ff;
      border: 1px solid #3760ff;
      background: transparent;
    }
    &.submit-btn {
      border: 1px solid #3760ff;
      background: #3760ff;
    }
  }
}

.loc-index-content {
  .loc-left-menu {
    background: rgba(0, 0, 0, 0.3);
  }
  .loc-transform-left {
    background: linear-gradient(
      90deg,
      transparent 80%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }
  .loc-right-content {
    .loc-manage-content {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.loc-opera-group {
  color: #fff;
}

.loc-btn {
  &.icon-btn {
    border: 1px solid #5074ff;
    background: #5074ff;
  }
  &.submit-btn {
    border: 1px solid #3760ff;
    background: #3760ff;
  }
  &.reset-btn {
    border: 1px solid #ffb950;
    background: #ffb950;
  }
}

.my-edit-group {
  .my-group-title {
    color: rgba(255, 255, 255, 0.6);
  }
}

// tab切换按钮
.my-tab-btn {
  line-height: 24px;
  background: rgba(0, 0, 0, 0.15);
  &:hover,
  &.active {
    background: linear-gradient(-270deg, #404fc2 0%, #2d42e3 100%);
  }
}

.my-popover-content {
  background: #1d285d;
  .my-content-checkbox {
    .el-checkbox__inner {
      border: 1px solid #fff;
    }
  }
}

.loc-select-tip {
  .loc-tip-form {
    background: rgba(0, 0, 0, 0.2);
    .loc-select-item {
      &.active,
      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
}

// 单选框样式
.my-simple-radio {
  .el-radio__input.is-checked {
    .el-radio__inner {
      border-color: #3760ff;
    }
  }
  .el-radio__inner::after {
    background: #3760ff;
  }
}

.my-radio {
  .el-radio__input.is-checked {
    .el-radio__inner {
      border-color: #3760ff;
    }
  }
  .el-radio__label {
    display: none;
  }
  .el-radio__inner::after {
    width: 6px;
    height: 6px;
    background: #fff;
  }
}

.loc-equip-bread {
  color: rgba(255, 255, 255, .6);
}

.loc-main-background {
  background: rgba(0, 0, 0, 0.2);
}

.my-switch {
  &.el-switch {
    &.is-checked {
      .el-switch__core {
        border-color: rgb(105, 240, 174);
        background-color: rgb(105, 240, 174);
      }
    }
    .el-switch__core {
      border-color: rgb(36, 42, 102);
      background-color: rgb(36, 42, 102);
    }
  }
}

.home-drop {
  background: #1d285d;
}

