body {
  color: #fff;
  font-size: 14px;
  * {
    .scrollbar();
  }
}

* {
  box-sizing: border-box;
}

html,
body,
.app {
  height: 100%;
}

.app {
  min-width: 1366px;
  min-height: 768px;
}

#homeIndex {
  background: linear-gradient(334deg, #4247ba, #4364bd);
}