.equip-radio-content {
  padding-left: 16px;
}
.equip-radio-content > .el-radio.my-simple-radio {
  width: auto;
  line-height: 28px;
}
.equip-radio-content > .el-radio.my-simple-radio .el-radio__input {
  vertical-align: middle;
}
.equip-top-margin {
  margin-top: 0;
}
.equip-padding-dialog {
  padding: 0 30px;
}
.equip-search-form .loc-query-form {
  margin-bottom: 16px;
}
.equip-search-form + .loc-opera-group {
  margin-top: 0;
}
.loc-index-content .loc-equip-bread {
  margin-bottom: 16px;
  font-size: 12px;
}
.loc-index-content .loc-equip-bread .equip-bread-split {
  transform: scale(0.8);
}
.loc-index-content .loc-equip-bread + div.loc-manage-content {
  height: calc(100% - 32px);
}
.equip-group-content {
  line-height: 28px;
}
.equip-checkbox {
  margin-left: 8px;
}
.equip-group-tip {
  display: inline-block;
  padding-left: 4px;
  min-width: 40px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}
