<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>瀚云智能运维管理平台</title>
  <link href="../assets/css/base.css" rel="stylesheet" />
  <link href="../assets/js/element-ui/index.css" rel="stylesheet" />
  <link href="../assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="./common-business.css">
  <!-- <link href="../assets/css/theme/main-theme.css" rel="stylesheet" /> -->
  <link href="../assets/css/theme/light-theme.css" rel="stylesheet" />
  <link href="./business-overview/business-overview.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/font-awesome.css">
</head>

<body class="app">
  <div id="homeIndex" style="height: 100%;">
    <div class="top-tab-toggle">
      <span v-for="(tab, index) in tab_array" :key="index" @click="toggleTab(tab)"
        :class="{active: this_tab===tab.label}">{{tab.label}}</span>
    </div>

    <div v-if="radio1==='业务总览'">
      <div class="overview-header">
        <table>
          <tr>
            <td>业务名称 : {{business_data.label}}</td>
            <td>
              当前健康等级 :
              <i class="fa fa-check-circle" v-if="business_data.safety_level === '1'" style="color:#69F0AE;"></i>
              <i class="fa fa-exclamation-circle" v-if="business_data.safety_level === '2'" style="color:#FF9E54;"></i>
              <i class="fa fa-times-circle" v-if="business_data.safety_level === '0'" style="color:#f00;"></i>
            </td>
            <td>宕机次数 : {{business_data.label}}</td>
            <td>MTBF : {{business_data.mtbf}}</td>
          </tr>
        </table>
      </div>

      <el-row :gutter="20">
        <el-col :span="8">
          <div class="grid-content bg-purple" style="height:294px;">
            <p class="p-title">告警统计</p>
            <el-row>
              <el-col :span="12">
                <v-chart style="widows: 100%; height:204px" :autoresize="true" :options="alarm_statics"></v-chart>
              </el-col>
              <el-col :span="12">
                <ul class="open-btn">
                  <li v-for="item in alarm_object" @click="openNewPage(item)">
                    <i class="fa fa-check-circle" v-if="item.status === '1'" style="color:#69F0AE;"></i>
                    <i class="fa fa-exclamation-circle" v-if="item.status === '2'" style="color:#FF9E54;"></i>
                    <i class="fa fa-times-circle" v-if="item.status === '0'" style="color:#f00;"></i>
                    <span>{{item.name}}</span>
                  </li>
                </ul>
              </el-col>
            </el-row>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple" style="height:294px;">
            <p class="p-title">业务可用率</p>
            <v-chart style="width:100%; height:200px" :autoresize="true" :options="business_using"></v-chart>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple" style="height:294px;">
            <p class="p-title" style="margin:0 0 30px 0;">业务可用率</p>
            <el-row  style="display:flex; align-items:center;">
              <el-col :span="6">
                <v-chart style="width:72px; height:72px" :autoresize="true" :options="multiple_pie.pie1"></v-chart>
              </el-col>
              <el-col :span="18">
                <p>计算容量 47%</p>
              </el-col>
            </el-row>
            <el-row style="display:flex; align-items:center;">
              <el-col :span="6">
                <v-chart style="width:72px; height:72px" :autoresize="true" :options="multiple_pie.pie2"></v-chart>
              </el-col>
              <el-col :span="18">
                <p>计算容量 47%</p>
                <p>总容量 338.9GB</span> <span>总容量 338.9GB</p>
              </el-col>
            </el-row>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <div class="grid-content bg-purple" style="height:294px;">
          <div class="bottom-toggle">
            <span class="p-title" style="margin:0 20px 0 0;">告警统计</span>
            <button @click="alarmToggle('healthy');" :class="{active: isActice === '0'}">健康度</button>
            <button @click="alarmToggle('storage');" :class="{active: isActice === '1'}">储存容量</button>
          </div>
          <el-col :span="4">
            <div class="bottom-text">
              <ul v-if="isActice === '0'">
                <li>
                  当前状态：
                  <i class="fa fa-check-circle" v-if="business_data.status === '1'" style="color:#69F0AE;"></i>
                  <i class="fa fa-exclamation-circle" v-if="business_data.status === '2'" style="color:#FF9E54;"></i>
                  <i class="fa fa-times-circle" v-if="business_data.status === '0'" style="color:#f00;"></i>
                </li>
                <li>
                  当前健康等级：1 &lt; 1 &lt; 1 &lt; 1 </li>
                <li>
                  当前值：0%
                </li>
                <li>
                  最新采集时间：2018-11-05 15:33:22
                </li>
              </ul>
              <ul v-else>
                <li>
                  当前值：14ms
                </li>
                <li>
                  最新采集时间：2018-11-05 15:33:22
                </li>
              </ul>
            </div>
          </el-col>
          <el-col :span="20">
            <v-chart v-if="isActice === '0'" :autoresize="true" style="width:100%; height:200px"
              :options="multiple_pie.line1"></v-chart>
            <v-chart v-else style="width:100%; height:200px" :autoresize="true" :options="multiple_pie.line2">
            </v-chart>
          </el-col>
        </div>
      </el-row>
    </div>

    <div v-else-if="radio1==='资源告警'">
      <el-row>
        <el-col>
          <div class="grid-content bg-purple">
            <el-table :data="alarm_tableData" size="mini" class="transparent-table transparent-white-table"
              style="width: 100%">
              <el-table-column label="级别" sortable class-name="com-txt-overflow" width="88px">
                <template slot-scope="scope">
                  <i class="fa fa-check-circle" v-if="scope.row.alarm_status === '1'" style="color:#69F0AE;"></i>
                  <i class="fa fa-exclamation-circle" v-if="scope.row.alarm_status === '2'" style="color:#FF9E54;"></i>
                  <i class="fa fa-times-circle" v-if="scope.row.alarm_status === '0'" style="color:#f00;"></i>
                </template>
              </el-table-column>
              <el-table-column prop="alarm_name" sortable sortable label="告警名称" class-name="com-txt-overflow">
              </el-table-column>
              <el-table-column prop="alarm_type" sortable label="告警类型" class-name="com-txt-overflow"></el-table-column>
              <el-table-column prop="alarm_status" sortable label="告警状态" class-name="com-txt-overflow">
              </el-table-column>
              <el-table-column prop="safety_level" sortable label="保障等级" class-name="com-txt-overflow">
              </el-table-column>
              <el-table-column prop="product_time" sortable label="产生时间" class-name="com-txt-overflow">
              </el-table-column>
              <el-table-column prop="continued_time" sortable label="已持续时间" class-name="com-txt-overflow">
              </el-table-column>
              <el-table-column prop="confirmor" sortable label="确认人" class-name="com-txt-overflow"></el-table-column>
              <el-table-column prop="confirm_time" sortable label="确认时间" class-name="com-txt-overflow">
              </el-table-column>
              <el-table-column prop="alarm_content" label="告警内容" class-name="com-txt-overflow"></el-table-column>
            </el-table>
            <div class="loc-pagination">
              <div class="my-pagination-group">
                <div class="my-pagination-btn my-pagination-first com-hover">首页</div>
                <el-pagination :pager-count="5" layout="prev, pager, next" :total="1000">
                </el-pagination>
                <div class="my-pagination-btn my-pagination-last com-hover">尾页</div>
              </div>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>

    <div v-else>
      <el-row>
        <el-col>
          <div class="grid-content bg-purple">
            <!-- <iframe src="http://47.98.213.184:8080/net-server/business2?id=1#/topo" frameborder="0"></iframe> -->
          </div>
        </el-col>
      </el-row>
    </div>
  </div>

</body>
<script src="../assets/js/vue/vue.dev.js"></script>
<script src="../assets/js/echart/echarts.min.js"></script>
<script src="../assets/js/echart/vue-echart.js"></script>
<script src="../assets/js/element-ui/index.js"></script>
<script src="./business-overview/business-overview.js"></script>

</html>