#homeIndex {
  padding:20px 30px;
  font-size:12px;
}
/* 业务总览 - header */
.overview-header {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin:20px 0;
  background: #2D3982;
  padding:16px 20px;
  >div {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    padding:5px 0;
    box-sizing: border-box;
    >span {
      margin-right:56px;
      img {
        margin: 0 0px -3px 5px;
      }
    }
  }
}
.grid-content {
  padding:20px;
  
}
.bg-purple {
  background: #2D3982;
}
.el-row {
  margin-top:20px;
}
.p-title {
  font-size:14px;
  margin:0 0 50px 0;
}
.left-img-right-text {
  display: flex;
  >img {
    margin-right:8px;
  }
  >ul {
    li {
      margin:4px 0;
    }
  }
}
