#homeIndex {
  width: 100%;
  min-width: 1366px;
  padding:20px 30px;
  font-size:12px;
}

/* 业务总览 - header */
.overview-header {
  margin:20px 0;
  background: #2D3982;
  padding:8px 20px;
  table {
    width:100%;
    tr {
      td {
        padding:8px 0 8px 0;
      }
    }
  }
}
.grid-content {
  padding:20px;
  
}
div.echarts {
  width: 100%;
  height: 100%;
}
.bg-purple {
  background: #2D3982;
}
.el-row {
  margin-top:20px;
}
.p-title {
  font-size:14px;
  margin:0 0 50px 0;
}
.left-img-right-text {
  display: flex;
  padding: 0 0 15px 10px;
  &:hover {
    background:#1B2352;
    cursor: pointer;
  }
  img {
    margin-right:8px;
  }
  >ul {
    li {
      margin:4px 0;
    }
  }
}
/* 时间选择 */
.time-toggle {
  display: inline-block;
  border-left:1px solid #54E8FF;
  >span {
    display: inline-block;
    padding:6px 7px;
    border:1px solid #54E8FF;
    border-width:1px 1px 1px 0;
    cursor: pointer;
    &.active {
      background:linear-gradient(to bottom, #54E8FF, #2D3982);
      color:#fff;
    }
  }
}
.left-right-table {
  tr {
    td {
      padding:8px;
      border-bottom:1px solid #2D3982;
     &:first-child {
       width:30%;
       color:#8190B8;
       background:#1B2352;
     }
     &:last-child {
       background:#222B66;
     }
    }
  }
}
/* 顶部tab切换 */
.top-tab-toggle {
  display: inline-block;
  border:1px solid #5074FF;
  border-radius:3px;
  span {
    display: inline-block;
    border-right:1px solid #5074FF;
    padding: 8px 10px;
    cursor: pointer;
    &:last-child {
      border-right:none;
    }
    &.active {
      background:#5074FF;
    }
  }
}
/* 底部页面切换按钮 */
.toggle-page {
  width:100%;
  padding:15px 10px;
  margin:20px 0 0 0;
  background:#2E3F82;
  span {
    display: inline-block;
    margin:0 5px;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    &.active {
      background:#1F2B5A;
    }
    &:hover {
      background:#1F2B5A;
    }
  }
}
/* 左列表-右图表 */
.left-list-right-echart {
  margin:5px 0;
  li {
    padding:15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background:#1F2B5A;
    }
    &.active {
      background:#1F2B5A;
    }
  }
}
